torch
torchvision
opencv-python-headless
networkx
transformers==4.30
sentencepiece
sacremoses
pdf2image
fastapi[uvicorn]
uvicorn
PyPDF2
matplotlib
timm
scipy
shapely
pyclipper
scikit-image
python-multipart
onnxruntime
requests
gradio
